*{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    margin-top: 30px;
}

.tool{
    height: max-content;
    width: min(450px, 85%);
    margin: auto;
    background-color: rgb(207, 208, 209);
    padding: 20px;
    border-radius: 5px;
}

#top_panel{
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: center;
}

#colour_display{
    height: 250px;
    width: calc(100% - 45px);
    border-radius: 5px;
}

.colour_slider_container{
    width: auto;
    width: 30px;
    height: 250px;
    vertical-align: top;
}

#slider{
    width: 30px;
    height: 100%;
    box-sizing: border-box;
    display: block;
    padding: 8px 0px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    writing-mode: vertical-lr;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-image: url("./images/white_square.png");
    height: 10px;
    width: 30px;
    cursor: pointer;
}

#generate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#colour_info{
    white-space: nowrap;
}

#colour_preview{
    width: 190px;
    height: 50px;
    background-color: rgb(64, 128, 128);
    border-radius: 5px;
    border: none;
}

#colour_preview:hover, .colour_spectrum .shade_palette:hover{
    background-image: url("./images/copy_logo.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;    
    opacity: 0.5;
}

.colour_spectrum{
    height: 50px;
    font-size: 0px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 10px 0;
}

.colour_spectrum .shade_palette{
    background-color: aqua;
    height: 50px;
    border: none;
}

#snackbar{
    visibility: hidden;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-align: center;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
}

#snackbar.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein{
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein{
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
